<%= form_for @artist, html: { multipart: true } do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name  %><br>
    <%= f.text_field :name, autofocus: true, type:"text",class:"form-control", placeholder:"Artist/Band Name"%>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, id:'summernote', class:'form-control desc-box', autofocus: true, type:"text", placeholder:"Write About Artist/Band"%>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, autofocus: true, type:"text",class:"form-control", placeholder:"Location" %>
  </div>
  <br/>
  <center>
    <%= f.submit  "Add Artist", class:"btn btn-primary btn-lg" %></center>
<% end %>
