<div class="conatiner">
<% if !user_signed_in? %>
  <div class="jumbotron">
      <div class="col-md-offset-2">
      <h3>Welcome To, Gigstart</h3>
        <p>Stay updated about your favourite artist, List Your favourite artist and Rate them.</p>

        <p><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary btn-lg" %> | 
        <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary btn-lg" %></p>
      </div>
      </div>
<% end %>

<div class="row" style="margin: 5px;">
    <% @artists.each do |artist| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag artist.image.url(:medium)), artist %>
          <br>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Description</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ratings</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="desc"><%= truncate( artist.description, length: 175 ) %><%= link_to "Read More", artist %></div>
              <div role="tabpanel" class="tab-pane" id="profile">...</div>
              <div role="tabpanel" class="tab-pane" id="messages">...</div>
            </div>
            </div>
          </div>
      </div>
    <% end %>
</div>
</div>


