<div class="conatiner">
<% if !user_signed_in? %>
  <div class="jumbotron">
      <div class="col-md-offset-2">
      <h3>Welcome To, Gigstart</h3>
        <p>Stay updated about your favourite artist, List Your favourite artist and Rate them.</p>

        <p><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary btn-lg" %> | 
        <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary btn-lg" %></p>
      </div>
      </div>
<% end %>

<div class="row" style="margin: 5px;">
    <% @artists.each do |artist| %>
      <% @description= artist.description.html_safe %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" style="height: 60%;">
          <%= link_to (image_tag artist.image.url(:medium)), artist %>
          <br>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab"><strong><%= artist.name %></strong></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              
              <div role="tabpanel" class="tab-pane active" id="desc"><%= truncate(strip_links(strip_tags(artist.description.html_safe)), length: 162, escape: false ) %><br/><%= link_to "Read More", artist %></div>
            </div>
            </div>
          </div>
      </div>
    <% end %>
</div>
</div>


