<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class="panel-heading text-center">
   <h2>Forgot your password?</h2>
  </div>
  <div class="panel-body"></h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="actions">
  	<br>
  	<center>
    <%= f.submit "Send me reset password instructions", class:"btn btn-primary btn-lg" %>
    </center>
  </div>
<% end %>

